* {
  margin: 0;        /* by default react gives a 10px margin */
}

.app {
    background-color: #fafafa;
}

.app__header {
    object-fit: contain;   /* preserves the aspect-ratio of the image when the content box is resized */ 
    background-color: white;
    border-bottom: 1px solid lightgray;
}

